<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <title>{% block title %}{% endblock title %} - Pasted</title>
    {% endblock head %}

    {% block seo %}
    <link rel="manifest" type="application/json" href="/manifest.json">

    <meta name="description" content="Pasted is a free, privacy respecting frontend for pastebin written in Rust.">
    <meta name="keywords" content="pastebin, paste, pasted, rust, privacy, free">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#b400d8">
    
    <meta name="og:site_name" content="Pasted">
    <meta name="og:locale" content="en_US">
    <meta name="og:image" content="/favicon.png">
    {% endblock seo %}
    {% include "style.html" %}
</head>

<body>
    <div id="nav">
        <h1><a href="/">Pasted</a></h1>
        <a href="/archive">Archive</a>
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        Contribute here at <a href="https://github.com/drakeerv/pasted">Github</a> - <a href="/info">Instance Info</a>
        {% endblock footer %}
    </div>
</body>

</html>