{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}
{{ super() }}
<style>
    #post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 600px) {
        #post {
            grid-template-columns: 1fr;
        }

        #left {
            height: 15rem;
        }
    }

    #post > * {
        display: grid;
        grid-template-rows: 1fr;
    }

    #post label {
        margin-top: 1rem;
    }

    #post textarea {
        height: 100%;
        margin-top: 0.5rem;
        resize: none;
    }

    #post input {
        margin-top: 0.5rem;
    }

    #post select {
        margin-top: 0.5rem;
    }

    #post button {
        margin-top: 1rem;
    }
</style>
{% endblock head %}
{% block content %}
<form action="/" method="post" id="post">
    <div id="left">
        <textarea name="text" placeholder="Enter paste here"></textarea>
    </div>
    <div id="right">
        <label for="category">Category</label>
        <select name="category" value="0">
            <option value="0">None</option>
            <option value="5">Cryptocurrency</option>
            <option value="7">Fixit</option>
            <option value="8">Food</option>
            <option value="9">Gaming</option>
            <option value="10">Haiku</option>
            <option value="11">Help</option>
            <option value="12">History</option>
            <option value="13">Housing</option>
            <option value="14">Jokes</option>
            <option value="15">Legal</option>
            <option value="16">Money</option>
            <option value="6">Movies</option>
            <option value="17">Music</option>
            <option value="18">Pets</option>
            <option value="19">Photo</option>
            <option value="20">Science</option>
            <option value="21">Software</option>
            <option value="27">Source Code</option>
            <option value="22">Spirit</option>
            <option value="23">Sports</option>
            <option value="24">Travel</option>
            <option value="25">TV</option>
            <option value="26">Writing</option>
        </select>
        <label for="tags">Tags</label>
        <input type="text" name="tags" placeholder="Tags">
        <label for="format">Format</label>
        <select name="format" value="1">
            <option value="1">None</option>
        </select>
        <label for="expiration">Expiration</label>
        <select name="expiration" value="N">
            <option value="N">Never</option>
            <option value="B">Burn after read</option>
            <option value="10M">10 Minutes</option>
            <option value="1H">1 Hour</option>
            <option value="1D">1 Day</option>
            <option value="1W">1 Week</option>
            <option value="2W">2 Weeks</option>
            <option value="1M">1 Month</option>
            <option value="6M">6 Months</option>
            <option value="1Y">1 Year</option>
        </select>
        <label for="exposure">Exposure</label>
        <select name="exposure" value="0">
            <option value="0">Public</option>
            <option value="1">Unlisted</option>
            <option value="2" disabled>Private</option>
        </select>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}