{% extends "base.html" %}
{% block title %}Info{% endblock title %}
{% block head %}
{{ super() }}
<style>
    #info {
        margin: 0 auto;
        width: 50%;
        border-collapse: collapse;
        border: 2px solid black;
    }

    #info td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
{% endblock head %}
{% block content %}
<table id="info">
    <tr>
        <td colspan="2">
            <h2>Instance Info</h2>
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{ version }}</td>
    </tr>
    <tr>
        <td>Is Release</td>
        <td>{{ is_release }}</td>
    </tr>
    <tr>
        <td>DB Size</td>
        <td>{{ db_size | format_bytes }}</td>
    </tr>
    <tr>
        <td>Commit</td>
        <td>{{ commit }}</td>
    </tr>
    <tr>
        <td>Used Github Actions</td>
        <td>{{ used_actions }}</td>
    </tr>
    <tr>
        <td>Build Date</td>
        <td>{{ build_date }}</td>
    </tr>
    <tr>
        <td>Deploy Date</td>
        <td>{{ deploy_date }}</td>
    </tr>
    <tr>
        <td>Static Templates</td>
        <td>{{ static_templates }}</td>
    </tr>
</table>
{% endblock content %}