{% extends "base.html" %}
{% block title %}View{% endblock title %}
{% block head %}
{{ super() }}
<style></style>
{% endblock head %}
{% block content %}
    <div id="paste">
        <div id="header">
            <h2>{{ info.basic_info.title }} <img src="{{data.author.icon_url}}"></h2>
            <span>{{ info.basic_info.date }}</span> |
            <span>{{ category }}</span> |
            <span>{{ info.basic_info.format }}</span> |
            <span>{{ data.size }}</span> |
            <span>{{ data.likes }} likes / {{ data.dislikes }} dislikes</span> |
            <span>{{ rating }} rating </span> |
            <span>{{ info.views }} views</span> |
            <span>expires {{ info.expiration }}</span> |
            <span>{{ tags }}</span> |
            <span>{{ id }}</span>
        </div>
        <div id="text">
            <pre>{{ data.content }}</pre>
        </div>
    </div>
{% endblock content %}